@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Registration" asp-controller="Home"><li>Registration</li></a> <br />

<a href="https://www.youtube.com/watch?v=gKQOXYB2cd8">MRW I struggled with this for 5 hours and finally got it</a>